
<form (ngSubmit)="addCandidate()">
    <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">SignUp</h3>
          </div>
         <div class="panel-body">
            <div class="form-group">
                <label for="name">FirstName:</label>
                 <input type="text" id="firstname" name="firstname" class="form-control"  [(ngModel)]="candidate.firstname"/>
             </div>
             <br/>
             <br/>
            <div class="form-group">
                <label for="name">LastName:</label>
                <input type="text" id="lastname" name="lastname" class="form-control"  [(ngModel)]="candidate.lastname"/>
            </div>
             <br/>
             <br/>
            <div class="form-group">
               <label for="id">Email:</label>
                 <input type="text" id="email" name="email" class="form-control"  [(ngModel)]="candidate.email"/>
            </div>
             <br/>
             <br/>
             <div class="form-group">
                 <label for="name">Password:</label>
                 <input type="password" id="cpassword" name="cpassword" class="form-control" [(ngModel)]="candidate.cpassword" />
            </div>
             <br/>
             <br/>
            <div class="form-group">
                <label for="name">idproof:</label>
                <input type="text" id="idproof" name="idproof" class="form-control"  [(ngModel)]="candidate.idproof"/>
            </div>
             <br/>
             <br/>
            <div class="form-group">
                <label for="name">Primary Skills:</label>
                <input type="text-area" id="primarySkills" name="primarySkills" class="form-control"  [(ngModel)]="candidate.primarySkills"/>
            </div>
             <br/>
             <br/>
            <div class="form-group">
                <label for="name">Secondary Skills:</label>
                <input type="text-area" id="secondarySkills" name="secondarySkills" class="form-control"  [(ngModel)]="candidate.secondarySkills"/>
            </div>
             <br/>
             <br/>
            <div class="form-group">
                <label for="name">Experience:</label>
                <input type="number" id="experience" name="experience" class="form-control"  [(ngModel)]="candidate.experience"/>
            </div>
             <br/>
             <br/>
            <div class="form-group">
                <label for="name">Designation:</label>
                <input type="text" id="designation" name="designation" class="form-control"  [(ngModel)]="candidate.designation"/>
            </div>
             <br/>
             <br/>
            <div class="form-group">
                <label for="name">Notice Period:</label>
                <input type="number" id="noticePeriod" name="noticePeriod" class="form-control"  [(ngModel)]="candidate.noticePeriod"/>
            </div>
             <br/>
             <br/>
             <div class="panel-footer">
                 <button class="btn btn-primary" type="submit" id="signup">SignUp</button>
                 <button class="btn btn-primary" type="reset" id="Cancel">Cancel</button>
             </div>
              
         </div>
     </div>
 </form>
 


